/* This file will hold the main styles for your website. */

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League_Gothic-webfont.eot?') format('eot'),
    url('../fonts/League_Gothic-webfont.woff') format('woff'),
    url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('../fonts/League_Gothic-webfont.svg')
    format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * HTML elements
 */
h1, h2, h3, h4, h5, h6 {
  font-family: League Gothic, Arial, Helvetica, sans-serif;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin: 1em 0 0.5em;
  color: #000;
}
h1 {
  font-size: 45px;
  line-height: normal;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-weight: bold;
  font-size: 22px;
}
h3 {
  font-family: 'Courier New', Courier, monospace;
  text-transform:uppercase;
  font-weight: bold;
  font-size:16px;
}
h4 {
  font-size: 24px;
  color: #999;
}
h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-weight: bold;
  font-size: 16px;
}
h6 {
  font-family: 'Courier New', Courier, monospace;
  text-transform:uppercase;
  font-weight: bold;
  font-size:14px;
  color: #999;
}
ul {
    list-style-type: disc;
}
b, strong {
  color: #5e5e5e;
}
#toolbar strong {
  color: #fff;
}
a, a:link, a:visited, a:active,
li a.active {
  color:#7b969d;
  border-bottom: none;
}
a:hover {
  text-decoration: underline;
}

/*
 * Page Structure
 */
body {
  background: #f5f5f3;
  color: #333;
}
#zone-header-wrapper {
  background: url(../img/bg-header.png) repeat;
  height: 115px;
  border-bottom: 8px solid #323232;
  box-shadow:0px -4px 4px rgba(0,0,0,0.4) inset;
}
#zone-user-wrapper {
  background: url(../img/bg-header-light.png) repeat;
}
#zone-user-wrapper .zone-wrapper-inner,
#zone-menu-wrapper .zone-wrapper-inner {
  background: url(../img/border-horizontal.png) repeat-x bottom;
}
#zone-branding-wrapper {
  background: url(../img/bg-header.png) repeat;
  border-bottom: 22px solid #323232;
}
#zone-branding-wrapper,
#zone-branding-wrapper .zone-wrapper-inner,
#zone-branding {
  height: 133px;
}
#zone-menu-wrapper {
  background: #fff;
}
#region-user-second {
  background: #536e75 url(../img/bg-date-banner.jpg) no-repeat;
  height: 205px;
  width: 156px;
  margin: -37px 0 0 0;
}

/* Search bar */
#block-search-form {
  float: left;
  width: 160px;
  margin: 0;
}
.block-search .form-item-search-block-form {
  display: block;
  float: left;
  width: 140px;
}
.block-search div.form-actions,
.search-form #edit-submit {
  display: block;
  float: left;
  width:20px;
}
.block-search input.form-text {
  background: #fafafa;
  height:19px;
  border: 1px solid #546b71;
}

/* Utility Nav */
#block-menu-menu-utility-nav .block-title {
  display: none;
}
#block-menu-menu-utility-nav ul.menu {
  float: right;
  padding: 2px;
}
#block-menu-menu-utility-nav ul.menu li.leaf {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
}

/* Site Name */
h1.site-name,
h2.site-name {
  font-size: 132px;
  margin: 2px 0 0;
  font-family: League Gothic, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1.site-name a,
h2.site-name a {
  color: #333;
}

/* Date widget */
#block-system-user-menu h2.block-title {
  display:none;
}
#block-system-user-menu ul.menu li {
  display: block;
  float: left;
}
#block-system-user-menu ul.menu li a {
  font-family: 'Courier New', Courier, monospace;
  color:#fff;
  text-transform: uppercase;
  font-size: 10px;
  background: #5f8971;
  padding: 0 3px;
}
#date-widget {
  font-family: League Gothic, Arial, Helvetica, sans-serif;
  color: #333;
  position: relative;
}
#date-widget #month {
  font-size: 21px;
  position: absolute;
  top: 40px;
  left: 48px;
}
#date-widget #day {
  font-size: 65px;
  left: 72px;
  position: absolute;
  top: 6px;
}
#date-widget #year {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  text-decoration:underline;
  font-size: 13px;
  position: absolute;
  top: 64px;
  left: 38px;
}

/*
 * Main navigation
 * Footer menu
 */
#block-menu-menu-footer-links,
#block-menu-menu-utility-nav {
  margin: 0;
}
.block-menu-footer-links h2.block-title {
  display: none;
}
#main-menu {
  font-size: 15px;
  margin: -23px 0 0 0;
  height: 34px;
}
.block-menu-footer-links {
  font-size: 15px;
}
.block-menu-footer-links ul.menu {
  margin: 0;
}
ul.main-menu li,
.block-menu-footer-links ul.menu li {
  border-right:none;
  padding: 0 16px 0;
  background: url(../img/bg-nav-item.png) no-repeat top right;
  display: block;
  float: left;
}
.block-menu-footer-links ul.menu li {
  background: none;
}
#main-menu li a,
.block-menu-footer-links ul.menu li a {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  color: #323232;
  padding: 6px 15px;
  display: block;
}
#main-menu li a.active,
.block-menu-footer-links ul.menu li a.active {
  background: #54bbc4;
}

/* Footer */
#section-footer {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#zone-footer-first-wrapper {
  border-top: 8px solid #333;
  background: url("../img/bg-header-light.png") repeat;
}
#zone-footer-first-wrapper .zone-wrapper-inner {
  background: url("../img/border-horizontal.png") repeat-x bottom;
}
#zone-footer-second-wrapper {
  background: url("../img/bg-header.png") repeat;
  border-bottom: 21px solid #333;
  padding: 20px 0;
}

/*
 * Default block styles
 */
.block {
  margin:0 0 30px;
}
h2.block-title {
  font-family: League Gothic, Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-weight:normal;
  background: #fff url(../img/bg-block-title.png) repeat-x;
  height: 41px;
  color: #000;
}
h2.block-title .block-title-icon {
  width: 31px;
  height: 41px;
  background: #fff url(../img/bg-block-title-icon.jpg) no-repeat;
  display: block;
  float: left;
  margin: 0 12px 0 4px;
}

/*
 * Node detail page styles
 */
.node .field-name-field-op-main-image {
  float: none;
}

/*
 * Views
 */

/* Featured Story */
.view-id-op_recent_content.view-display-id-block_7 .views-row {
  background: #fffeff;
  padding: 12px 13px;
  box-shadow: 0 1px 2px #8b8b89;
}
.view-id-op_recent_content.view-display-id-block_7 .views-field-field-op-main-image {
  float: left;
  margin-right: 11px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-field-field-op-main-image img {
  border: 1px solid #202020;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text {
  float: left;
  width: 277px;
  height: 389px;
  padding: 30px 14px;
  background: #ebebeb url(../img/bg-header.png) repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.15) inset;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field {
  padding: 0 12px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-field-title {
  font-family: League Gothic, Arial, Helvetica, sans-serif;
  line-height: normal;
  margin-bottom: 10px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-field-title a {
  color: #333;
  font-size: 31px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-field-op-author,
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-created {
  font-family: 'Courier New', Courier, monospace;
  font-size:11px;
  font-weight: bold;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-field-op-author {
  padding: 0 0 0 30px;
  background: url(../img/arrow-featured-story.png) no-repeat 12px center;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-field-op-author .views-label {
  font-style: italic;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-created {
  padding: 0;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-body {
  background: url(../img/divider-featured-story.png) no-repeat center top;
  margin-top: 15px;
  padding-top:20px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-body p {
  font-size: 13px;
  line-height: 17px;
  
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-view-node {
  background: url(../img/border-horizontal.png) repeat-x top;
  text-align: center;
  padding-top: 12px;
}
.view-id-op_recent_content.view-display-id-block_7 .views-fieldgroup-text .views-field-view-node a {
  display: inline-block;
  width: 82px;
  height: 24px;
  background: url(../img/btn-read-more.png) no-repeat top left;
  color: #000200;
  font-family: 'Courier New', Courier, monospace;
  font-size:10px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4px;
}
