/**
  * @file global.css
  * global.css contains all the default CSS styling for your theme.
  * This includes the mobile-first stlying that will/can be overwritten by 
  * additional responsive layouts.
  */
  
body {
  font-family: "Helvetica Nueue", Helvetica, Geneva, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Nueue", Helvetica, Geneva, Arial, Verdana, sans-serif;
  letter-spacing: normal;
}
/* Responsive Images */
img {
  max-width: 100%;
}






.user-picture {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.submitted {
  line-height: 36px;
  margin-bottom: 10px;
}